body{
    background-color: #232224;
}

#Quffik{
    user-select: none;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

#Quffik span{
    color: #866e89;
    margin-right: -4px;
    display: inline-block;
    font-size: 16vw;
}

.nickname{
    opacity: 0;
    animation: quffik-animate 1s ease-out forwards;
}

.decor-nick {
    opacity: 0;
    animation: dec-animate 2s ease-out forwards;
}

@keyframes quffik-animate {
    to {
        opacity: 1;
    }
}

@keyframes dec-animate {
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

#links{
    user-select: none;
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: links-animate 2s ease-out forwards;
}

#links img:hover{
    transform: scale(1.1);
}

@keyframes links-animate {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #links img{
        width: 50%;
    }
}